@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-light-layer-2 dark:bg-dark-layer-2;
  }
  * {
    @apply scrollbar scrollbar-track-transparent scrollbar-thumb-light-distinct-text scrollbar-thumb-rounded-md scrollbar-w-2 dark:scrollbar-thumb-dark-distinct-text;
  }
}

@layer components {
  .bg-breakpoint-test {
    @apply bg-red-500 sm:bg-orange-500 md:bg-yellow-500 lg:bg-green-500 xl:bg-blue-500 2xl:bg-violet-500 3xl:bg-pink-500;
  }

  .btn-base-class {
    @apply focus-brand elem-shadow-sm w-fit select-none px-4 py-2 text-center font-semibold;
  }

  .btn-disabled {
    @apply focus-off elem-shadow-sm w-fit select-none px-4 py-2 text-center font-semibold;
  }

  .card-style-base {
    @apply elem-shadow-sm rounded-md sm:rounded-lg;
  }

  .card-style {
    @apply card-style-base bg-light-layer-1 dark:bg-dark-layer-1;
  }

  .elem-on-card-style {
    @apply card-style-base elem-shadow-sm bg-light-layer-2 hover:bg-light-highlight active:bg-light-layer-2 dark:border dark:border-dark-text dark:bg-dark-layer-2 dark:hover:bg-dark-highlight dark:active:bg-dark-layer-2;
  }

  .elem-shadow-sm {
    @apply shadow-sm shadow-zinc-700;
  }

  .elem-shadow-md {
    @apply shadow-md shadow-zinc-700;
  }

  .elem-shadow-lg {
    @apply shadow-lg shadow-zinc-700;
  }

  .focus-brand {
    @apply rounded-sm focus:outline-none focus-visible:border-light-link-text focus-visible:ring-2 focus-visible:ring-light-link-text dark:focus-visible:border-dark-link-text dark:focus-visible:ring-dark-link-text;
  }

  .focus-inside {
    @apply rounded-sm focus-within:border-light-link-text focus-within:outline-none focus-within:ring-2 focus-within:ring-light-link-text dark:focus-within:border-dark-link-text dark:focus-within:ring-dark-link-text;
  }

  .link-text {
    @apply text-light-link-text hover:text-light-link-text-hover dark:text-dark-link-text dark:hover:text-dark-link-text-hover;
  }

  .responsive-h1 {
    @apply font-display text-2xl sm:text-3xl md:text-4xl xl:text-5xl;
  }

  .responsive-h2 {
    @apply font-display text-xl sm:text-2xl md:text-3xl xl:text-4xl;
  }

  .responsive-h3 {
    @apply font-display text-lg sm:text-xl md:text-2xl xl:text-3xl;
  }

  .responsive-h4 {
    @apply font-display text-base sm:text-lg md:text-xl xl:text-2xl;
  }

  .responsive-h5 {
    @apply font-display text-base md:text-lg xl:text-xl;
  }

  .responsive-px-1 {
    @apply px-1 sm:px-2;
  }

  .responsive-px-2 {
    @apply px-2 lg:px-4 xl:px-6;
  }

  .responsive-px-3 {
    @apply px-4 lg:px-6 xl:px-8;
  }

  .responsive-px-4 {
    @apply px-6 lg:px-8 xl:px-10;
  }

  .responsive-px-5 {
    @apply px-6 lg:px-10 xl:px-14;
  }

  .responsive-py-1 {
    @apply py-1 sm:py-2;
  }

  .responsive-py-2 {
    @apply py-2 lg:py-4 xl:py-6;
  }

  .responsive-py-3 {
    @apply py-4 lg:py-6 xl:py-8;
  }

  .responsive-py-4 {
    @apply py-6 lg:py-8 xl:py-10;
  }

  .responsive-py-5 {
    @apply py-8 lg:py-10 xl:py-14;
  }

  .style-action {
    @apply focus-brand border border-light-text bg-light-action-red text-light-text hover:bg-light-action-red/80 active:bg-light-action-red dark:border-dark-action-red dark:bg-dark-action-red/10 dark:text-light-action-red dark:hover:bg-dark-action-red/25 dark:active:bg-dark-action-red/10;
  }

  .style-btn {
    @apply focus-brand elem-shadow-sm bg-light-layer-0 text-light-text hover:bg-light-highlight active:bg-light-layer-0 dark:border dark:border-dark-text dark:bg-dark-layer-0 dark:text-dark-text dark:hover:bg-dark-highlight dark:active:bg-dark-layer-0;
  }

  .style-cta {
    @apply focus-brand border border-light-text bg-light-cta-orange fill-light-text  text-light-text hover:bg-light-cta-orange/80 active:bg-light-cta-orange dark:border-dark-cta-orange dark:bg-dark-cta-orange/10 dark:fill-dark-cta-orange dark:text-dark-cta-orange dark:hover:bg-dark-cta-orange/25 dark:active:bg-dark-cta-orange/10;
  }

  .style-cta-disabled {
    @apply focus-brand cursor-not-allowed border border-light-text/50 bg-light-cta-orange/50  fill-light-text/50 text-light-text/50 shadow-none   dark:border-dark-cta-orange/50 dark:bg-dark-cta-orange/10 dark:fill-dark-cta-orange/50 dark:text-dark-cta-orange/50;
  }

  .style-cta-secondary {
    @apply focus-brand border border-light-text bg-light-layer-2 fill-light-text text-light-text hover:bg-light-highlight-darker active:bg-light-layer-2 dark:border-dark-text dark:bg-dark-layer-2 dark:fill-dark-text dark:text-dark-text dark:hover:bg-dark-highlight-lighter dark:active:bg-dark-layer-2;
  }

  .style-cta-secondary-disabled {
    @apply focus-brand cursor-not-allowed border border-light-text/50 bg-light-layer-2/75 fill-light-text/50 text-light-text/50 shadow-none  dark:border-dark-text/50 dark:bg-dark-layer-2 dark:fill-dark-text/50 dark:text-dark-text/50;
  }

  .style-learn {
    @apply focus-brand border border-light-text bg-light-learn-blue text-light-text hover:bg-light-learn-blue/80 active:bg-light-learn-blue dark:border-dark-learn-blue dark:bg-dark-learn-blue/10 dark:text-light-learn-blue dark:hover:bg-dark-learn-blue/25 dark:active:bg-dark-learn-blue/10;
  }

  .style-menu-option {
    @apply focus-brand fill-light-text text-light-text hover:bg-light-highlight dark:fill-dark-text dark:text-dark-text dark:hover:bg-dark-highlight;
  }

  .style-menu-option-cta {
    @apply focus-brand bg-light-menu-selection fill-light-layer-1 text-light-layer-1 hover:bg-light-menu-selection/80 dark:bg-dark-menu-selection dark:fill-dark-layer-1 dark:text-dark-layer-1 dark:hover:bg-dark-menu-selection/80;
  }

  .style-warn {
    @apply focus-brand border border-light-text bg-light-warn-yellow text-light-text hover:bg-light-warn-yellow/80 active:bg-light-warn-yellow dark:border-dark-warn-yellow dark:bg-dark-warn-yellow/10 dark:text-light-warn-yellow dark:hover:bg-dark-warn-yellow/25 dark:active:bg-dark-warn-yellow/10;
  }

  .tooltip {
    @apply absolute;
  }

  .has-tooltip:hover .tooltip {
    @apply visible z-40;
  }
}

.loading-pulse {
  animation: pulse 4s infinite;
}

@keyframes pulse {
  0% {
    @apply opacity-50;
  }

  50% {
    @apply opacity-100;
  }

  100% {
    @apply opacity-50;
  }
}
