@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-light-header dark:bg-dark-header;
  }
  * {
    @apply scrollbar scrollbar-w-2.5 scrollbar-thumb-light-interactive dark:scrollbar-thumb-dark-interactive scrollbar-track-light-highlight dark:scrollbar-track-dark-highlight scrollbar-thumb-rounded-md;
  }
}

@layer components {
  .bg-breakpoint-test {
    @apply 3xl:bg-pink-500 2xl:bg-violet-500 xl:bg-blue-500 lg:bg-green-500 md:bg-yellow-500 sm:bg-orange-500 bg-red-500;
  }

  .card-style-base {
    @apply rounded-md sm:rounded-lg elem-shadow-sm;
  }

  .card-style {
    @apply card-style-base bg-light-distinct dark:bg-dark-distinct;
  }

  .elem-on-card-style {
    @apply card-style-base bg-light-header dark:bg-dark-header hover:bg-light-highlight active:bg-light-header dark:hover:bg-dark-highlight dark:active:bg-dark-header dark:border dark:border-dark-text elem-shadow-sm;
  }

  .elem-shadow-sm {
    @apply shadow-sm shadow-zinc-700;
  }

  .elem-shadow-md {
    @apply shadow-sm shadow-zinc-700;
  }

  .elem-shadow-lg {
    @apply shadow-lg shadow-zinc-700;
  }

  .focus-brand {
    @apply outline-offset-2 outline-light-cta-orange dark:outline-dark-cta-orange rounded-sm;
  }

  .link-text {
    @apply text-light-link-text dark:text-dark-link-text hover:text-light-link-text-hover dark:hover:text-dark-link-text-hover;
  }

  .responsive-h1 {
    @apply font-display text-2xl sm:text-3xl md:text-4xl xl:text-5xl;
  }

  .responsive-h2 {
    @apply font-display text-xl sm:text-2xl md:text-3xl xl:text-4xl;
  }

  .responsive-h3 {
    @apply font-display text-lg sm:text-xl md:text-2xl xl:text-3xl;
  }

  .responsive-h4 {
    @apply font-display text-base sm:text-lg md:text-xl xl:text-2xl;
  }

  .responsive-h5 {
    @apply font-display text-base md:text-lg xl:text-xl;
  }

  .responsive-px-1 {
    @apply px-1 sm:px-2;
  }

  .responsive-px-2 {
    @apply px-2 lg:px-4 xl:px-6;
  }

  .responsive-px-3 {
    @apply px-4 lg:px-6 xl:px-8;
  }

  .responsive-px-4 {
    @apply px-6 lg:px-8 xl:px-10;
  }

  .responsive-px-5 {
    @apply px-6 lg:px-10 xl:px-14;
  }

  .responsive-py-1 {
    @apply py-1 sm:py-2;
  }

  .responsive-py-2 {
    @apply py-2 lg:py-4 xl:py-6;
  }

  .responsive-py-3 {
    @apply py-4 lg:py-6 xl:py-8;
  }

  .responsive-py-4 {
    @apply py-6 lg:py-8 xl:py-10;
  }

  .responsive-py-5 {
    @apply py-8 lg:py-10 xl:py-14;
  }

  .style-btn {
    @apply text-light-text bg-light-content hover:bg-light-highlight active:bg-light-content dark:text-dark-text dark:bg-dark-content dark:hover:bg-dark-highlight dark:active:bg-dark-content focus-brand elem-shadow-sm dark:border dark:border-dark-text;
  }

  .style-cta {
    @apply text-light-text border border-light-text dark:text-dark-cta-orange dark:border-dark-cta-orange  fill-light-text dark:fill-dark-cta-orange bg-light-cta-orange dark:bg-dark-cta-orange/10 hover:bg-light-cta-orange-hover active:bg-light-cta-orange dark:hover:bg-dark-cta-orange-hover/25 dark:active:bg-dark-cta-orange/10;
  }

  .style-cta-secondary {
    @apply text-light-text border border-light-text dark:text-dark-text dark:border-dark-text bg-light-header dark:bg-dark-header hover:bg-light-highlight-darker active:bg-light-header dark:hover:bg-dark-highlight-lighter dark:active:bg-dark-header;
  }

  .style-menu-option {
    @apply text-light-text dark:text-dark-text fill-light-text dark:fill-dark-text hover:bg-light-highlight dark:hover:bg-dark-highlight;
  }

  .style-menu-option-selected {
    @apply bg-light-menu-selection dark:bg-dark-menu-selection text-light-distinct dark:text-dark-distinct fill-light-distinct dark:fill-dark-distinct hover:bg-light-menu-selection/80 dark:hover:bg-dark-menu-selection/80 focus-brand;
  }

  .tooltip {
    @apply absolute;
  }

  .has-tooltip:hover .tooltip {
    @apply visible z-50;
  }
}

.loading-pulse {
  animation: pulse 4s infinite;
}

@keyframes pulse {
  0% {
    @apply opacity-50;
  }

  50% {
    @apply opacity-100;
  }

  100% {
    @apply opacity-50;
  }
}
