services:
  e2e-test:
    env_file:
      - .env.dev
    build:
      context: ./frontend
    container_name: e2e-test 
    environment:
      - BASE_URL=http://frontend:3000
    volumes:
      - ./frontend:/app
    command:
      - sh
      - -c
      - |
        echo "Container up and running....." &&
        corepack enable && yarn install &&
        yarn playwright install-deps &&
        yarn playwright install &&
        yarn dev:local
