version: '3.7'

services:

  backend:
    build:
      context: ./backend
    container_name: django_backend
    ports:
      - "8000:8000"

  frontend:
    build:
      context: ./frontend
    container_name: nuxt_frontend
    volumes:
      - ./frontend:/app
    ports:
      - "3000:3000"
