[tool.ruff]
# Exclude a variety of commonly ignored directories.
exclude = [
    "*/migrations/*.py",
    ".bzr",
    ".direnv",
    ".eggs",
    ".git",
    ".git-rewrite",
    ".mypy_cache",
    ".nox",
    ".pants.d",
    ".pytype",
    ".ruff_cache",
    ".svn",
    ".tox",
    ".venv",
    "__pypackages__",
    "_build",
    "venv",
]

[tool.ruff.lint]

select = [
    "E", # pycodestyle errors
    "F", # pyflakes
    "I", # isort
]

ignore = [
    "E501", # line too long, handled by black
]

fixable = ["I"]
unfixable = []

[tool.ruff.lint.mccabe]
# Flag errors (`C901`) whenever the complexity level exceeds the following value.
max-complexity = 10

[tool.isort]
line_length = 88

[tool.pytest.ini_options]
DJANGO_SETTINGS_MODULE = "core.settings"
python_files = "test_*.py"
addopts = "--nomigrations"

[tool.coverage.run]
omit = [
    "*/migrations/*",
    "*/tests/*",
    "asgi.py",
    "wsgi.py",
    "manage.py",
    "*/__init__.py",
    "*/factories.py",
]

[tool.mypy]
mypy_path = "backend"
plugins = ["mypy_django_plugin.main", "mypy_drf_plugin.main"]
strict = true
exclude = ["^.*/tests/.*\\.py$", "^.*/test_.*\\.py$", "^.*/.*_tests\\.py$"]
enable_incomplete_feature = ["Unpack"]

[[tool.mypy.overrides]]
module = ["authentication.*", "content.*", "communities.*", "events.*"]
# follow_imports = "skip"  # enable django-stubs
# TODO: Remove once all mypy django-stubs errors are fixed.
ignore_errors = true


[tool.django-stubs]
django_settings_module = "core.settings"

[tool.numpydoc_validation]
checks = [
    "all",  # report on all checks, except the below
    "ES01",
    "EX01",
    "SA01",
]

exclude = [
    "^.*\\.Meta$",    # Meta classes
    "^.*\\.__str__$", # __str__ methods
    "^__init__$",     # __init__ files
]
