name: pr_ci_ts_backend_check
on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
    types:
      - opened
      - reopened
      - synchronize
    paths:
      - "backend/**/model.py"
      - "frontend/shared/types/**/*.{ts, d.ts}"
  push:
    branches:
      - main
    paths:
      - "backend/**/model.py"
      - "frontend/shared/types/**/*.{ts, d.ts}"

jobs:
  ts_backend_check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Project
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install Dependencies
        run: uv sync
        working-directory: ./backend

      - name: Check Django Models Against TypeScript Interfaces
        run: |
          # uv run --project ./backend ts-backend-check -bmf backend/communities/organizations/models.py -tsf frontend/shared/types/organizations.d.ts --check-blank
          # uv run --project ./backend ts-backend-check -bmf backend/communities/groups/models.py -tsf frontend/shared/types/groups.d.ts --check-blank
          # uv run --project ./backend ts-backend-check -bmf backend/events/models.py -tsf frontend/shared/types/events.d.ts --check-blank
