name: pr_ci_backend
on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
    types:
      - opened
      - reopened
      - synchronize
    paths:
      - "backend/**"
  push:
    branches:
      - main
    paths:
      - "backend/**"

env:
  SECRET_KEY: "ONLY_FOR_TESTING"
  DATABASE_PORT: 5432
  DATABASE_HOST: localhost
  DATABASE_NAME: postgres
  DATABASE_USER: postgres
  DATABASE_PASSWORD: postgres

jobs:
  backend:
    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_USER: ${{ env.DATABASE_USER }}
          POSTGRES_PASSWORD: ${{ env.DATABASE_PASSWORD }}
          POSTGRES_DB: ${{ env.DATABASE_NAME }}
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    permissions:
      contents: write
      checks: write
      pull-requests: write

    name: Run PR Backend Check
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./backend
    steps:
      - name: Checkout Project
        uses: actions/checkout@v4

      - name: Set up Python Environment
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install Dependencies
        run: uv sync

      - name: Run Ruff Format - Formatting Check
        run: uv run ruff format .

      - name: Run Ruff - Linting and Import Sorting Check
        if: always()
        run: uv run ruff check .

      - name: Run mypy - Static Type Checking
        if: always()
        run: uv run mypy . --config-file ./pyproject.toml
      - name: Run Django Migrations - Database Migrations Check
        if: always()
        run: |
          uv run manage.py makemigrations
          uv run manage.py migrate

      - name: Run pytest - Unit Tests
        if: always()
        run: |
          uv run pytest . --cov=. --cov-report=term-missing --cov-fail-under=90 --cov-config=./pyproject.toml -vv
