name: pr_ci_frontend
on:
  pull_request:
    branches:
      - main
    types: [opened, reopened, synchronize]

jobs:
  frontend:
    name: Run PR Frontend Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node environment
        uses: actions/setup-node@v4

      - name: Install Yarn
        uses: borales/actions-yarn@v5
        with:
          cmd: install
          dir: "frontend"

      - name: Install Prettier
        run: yarn add prettier

      - name: Run Prettier - Formatting check
        working-directory: ./frontend
        run: |
          yarn prettier . --check --config ../.prettierrc --ignore-path ../.prettierignore

      - name: Run Type Check
        if: always()
        uses: borales/actions-yarn@v4
        with:
          cmd: nuxi typecheck
          dir: "frontend"

      - name: Run eslint - Linting
        if: always()
        uses: borales/actions-yarn@v4
        with:
          cmd: eslint . --ext .js,.vue
          dir: "frontend"
