name: pr_ci_frontend
on:
  pull_request:
    branches:
      - main
    types: [opened, reopened, synchronize]

jobs:
  frontend:
    name: Run PR Frontend Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node environment
        uses: actions/setup-node@v4

      - name: Install dependencies via Yarn
        working-directory: ./frontend
        run: |
          corepack enable
          sudo yarn install

      - name: Install Prettier
        working-directory: ./frontend
        run: yarn add prettier

      - name: Run Prettier - Formatting Check
        working-directory: ./frontend
        run: |
          yarn prettier . --check --config ../.prettierrc --ignore-path ../.prettierignore

      - name: Run Nuxt Type Check
        if: always()
        working-directory: ./frontend
        run: yarn nuxi typecheck

      - name: Run ESLint - Linting
        if: always()
        working-directory: ./frontend
        run: eslint .

      - name: Run Vitest - Component Testing
        if: always()
        working-directory: ./frontend
        run: vitest run --run
